body{
  background:linear-gradient(320deg ,rgba(255,200,255,0.8),rgba(255,255,200,0.8));

}
header{
  display: flex;
    justify-content: space-around;
  width: 100%;
  padding: 10px;

}
header button{
  width: 20%;
  height: 10vh;
  background:  radial-gradient(rgb(240, 240, 240),rgb(128,128,128));
  border: solid 1px #333;
    border-radius: 15%;
    font-size:  1em;
    font-weight: bold;
    color: rgb(0,0.,0);
}

main{
  position: relative;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 95vw;
  margin: 10vw auto;
}  
main .colmun{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  width: 100%;
  height: 33%;
}

main ul {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  width: 33%;
  height: 100%;
}
main li {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  background: radial-gradient(rgb(200,255,255),rgb(100,240,240));
    border-radius: 5%;
    width: 33%;
    height: 33%;
  box-shadow: 1px 1px 5px  rgb(45, 115, 115); 
  list-style: none;
}
.select{
  scale: 1.2;
  background: radial-gradient(rgb(200,255,255),rgb(100,255,255));

}
main .cross{
  position: absolute;
}

#numbar{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  width: 60%;
  height: 150px;
  margin: 0 5vw 5vw auto;
}
#numbar .numbar-row{
  display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}
#numbar .numbar-colmun{
  display: flex;
    justify-content: center;
    align-items: center;
  background:radial-gradient(rgb(255, 255, 255),rgb(255, 225, 77)) ;
    box-shadow: 1px 1px 5px  rgb(123, 137, 42);   
    width: 18%;
    height: 100%;
}

@media screen and (min-width :500px ) {
  body{
    display: flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    /* background-color: #333; */
    height: 100vh;
  }
  main{
    width: 500px;
    height: 500px;
    margin-right: auto;
  }
  header{
    width:30%;
    height: 30%;
    flex-direction: column;
    margin: 10% auto 50%;
  }
  header button{
    width: 100%;
    height: 20%;
  }
  #numbar{
    display: none;
    bottom: 10%;
    right: 0;
  }
}